
.article {
  color: #282828;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}

.icon_art {
  display: inline-block;
  margin-top: 40px;
}

.icon_border {
  display: inline-block;
  border: 1px solid #EEE;
  border-radius: 13px;
  transform: rotate(45deg);
  width: 180px;
  height: 180px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 90px;
  border-right-style: double; /* ????? ????? */
  border-right-width: thick; /* ??????? ????? */
  border-bottom-style: double; /* ????? ????? */
  border-bottom-width: thick; /* ??????? ????? */
  transition: top 1s ease-out 0.5s;
  :hover {
    //background-color: royalblue;
  }


}


.ab_icon {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 28px;
  padding-top: 28px;
}

.ab_sign {
  width: 160px;
  color: #2c3e50;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.icon_container {
  position: absolute;
  transform: rotate(-45deg);
  width: 180px;
  height: 180px;
}