body {
  @include fs;
  color: $textcolor;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

section {
  @include top_padding;
}

.container {
  max-width: 1170px;
  width: 97.44%;
  padding:0 1.28%;
  text-align: center;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  overflow: hidden;
  display: table;
  clear: both;
}

.title, .subtitle {
  font-size: 3.57em;
  text-transform: uppercase;
  color: $secondcolor;
  font-weight: 700;
  position: relative;
  padding-bottom: 2.735%;
  @include respond-to(tablet-and-mobile) {
    padding-bottom: 3.735%;
  };
  @include respond-to(mobile) {
    padding-bottom: 4.735%;
  };
}

.subtitle {
  padding-bottom: 0;
}

.title--white, .subtitle--white {
  color: $whitetitle;
}

.subtitle {
  font-size: 1.714em;
}

.b, b, strong {
  font-weight: 700;
}

.i, i, em {
  font-style: italic;
}