body {
  font-size: 14px;
  color: #282828;
  font-family: Roboto;
  font-weight: 300;
}

section {
  padding: 6.47% 0;
}

.container {
  min-width: 1170px;
  width: 97.44%;
  padding:0 1.28%;
  text-align: center;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  overflow: hidden;
  display: table;
  clear: both;
}

.title, .subtitle {
  font-size: 3.57em;
  text-transform: uppercase;
  color: #2c3e50;
  font-weight: 700;
}

.title--white, .subtitle--white {
  color: #f0f0f0;
}

.subtitle {
  font-size: 1.714em;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}
