.blog-content {
  padding-top: 44px;
}

.blog__item {
  display: inline-block;
  font-size: 0;
  width: 28.66%;
  padding: 0 2%;
}

.blog__item__content {
  font-size: 14px;
}

.blog__item img {
  width: 100%;
}