#contacts {
  background-color: #ffffff;
}

.contacts__button {
  @extend .blog__button;
  text-align: left;
}
.contacts__button__link{
  @extend .blog__button__link;
}

.contacts-content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  text-align: left;
  @include sub_padding;
  @include respond-to(mobile) {
    flex-direction: column;
    margin: 0 auto;
  }
}

.contacts-content__form,
.contacts-content__map {
  flex-direction: column;
  flex: 1;
  padding:0 0 0 2.35%;
  @include respond-to(mobile) {
    width:calc(100% - 12px);
    padding: 0;
  };
}

.contacts__button {
  width: 100%;
  @include respond-to(mobile) {
    order: 3;
  }
}

.contacts-content__form {
  padding:0 2.35% 0 0;
  @include respond-to(mobile) {
    padding: 7.76% 0 0 0;
    width:100%;
    order:2;
    margin:0 auto;
  };
}

.contacts-content__map {
  display: flex;
  @include respond-to(mobile) {
    order:1;
  }
}

address {
  font-style: normal;
  font-size: 0;
  padding-bottom:36px;
  @include respond-to(mobile) {
    padding-bottom:10px;
  };
  >div {
    display: inline-block;
    vertical-align: top;
    width:calc(50% - 63px);
    @include fs;
    padding-left:63px;
    position: relative;
    @include respond-to(xx-mobile) {
      padding-left:0;
      width:50%;
    };
    &::after {
      content: '';
      display: block;
      position: absolute;
      top:6px;
      left: 0;
      width:32px;
      height:44px;
      background: url(../pic/adress.png) center no-repeat;
      background-size: contain;
      @include respond-to(xx-mobile) {
        display: none;
      }
    };
    span, p {
      line-height:2em;
    };
  }
  >div:last-of-type::after {
    background: url(../pic/tel.png) center no-repeat;
  }
}

.form_title, .title_adr, .title_tel {
  @include fs
  text-transform: uppercase;
  font-weight: 700;
}

#map {
  flex: 1;
  padding:5px;
  border:1px solid $thirdcolor !important;
  @include respond-to(mobile) {
    height: 300px;
    width:100%;
  }
  >div {
    width:calc(100% - 10px) !important;
    height:calc(100% - 10px) !important;
  }
}

.form {
}

.form-group {
  width: 100%;
}

.form-control {
  width: 100%;
  @include fs;
  padding: 15px;
}

.form-label {
  padding: 12px 0 3px;
  display: block;
  line-height:2em;
  font-weight:400;
}
