.main {
  padding: 0;
  text-align: left;
  position: relative;
}
.main-container {
  content: "";
  text-align: left;
  padding-left: 6%;
}

  .grdien_1 {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0, 1) 100%);
    height: 316px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }


.main-content {
  width: 50%;
  background-color: #272b31;
  padding-top: 151px;
  background-size: cover;
  display: table-cell;
}

.main-contact {
  width: 48%;
  background-image: url('../img/chel.png');
  background-size: cover;
  display: table-cell;
  position: relative;

}

h1 {
  color: #f8f8f8;
  font-size: 4.28em;
  font-weight: 700;
  line-height: 1.316em;
  text-transform: uppercase;
}

h2 {
  color: #68c3a3;
  font-size: 2em;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.main-description {
  color: #f7f7f7;
  padding-top: 34px;
  padding-bottom: 59px;
}

.main-sign {
  padding-right: 237px;
  padding-bottom: 45px;
}


.send {
  margin-bottom: 20%;
  position: relative;
  width: 200px;
  line-height: 57px;
  background-color: #52b3d9;
  border-radius: 5px;
  color: white;
   font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 23px;
  padding-left: 50px;
  display: inline-block;
  box-sizing: border-box;
  &:after{
    content: '';
    background-image: url(../img/send.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 15px;
    bottom: 18px;
    right: 7px;
  }
}


.download {
  margin-bottom: 5.24%;
  position: relative;
  width: 200px;
  background-color: #68c3a3;
  border-radius: 5px;
  color: #f3f3f3;
  font-size: 14px;
  font-weight: 700;
  line-height: 57px;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 50px;
  box-sizing: border-box;
  &:after{
    content: '';
    position: absolute;
    background-image: url(../img/download.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    width: 18px;
    height: 16px;
    top: 20px;
    left: 15px;
    bottom: 18px;
    right: 7px;
  }
}

.contact_1 {
  font-weight: 400;
  line-height: 33px;
  padding-bottom: 53px;
  position: absolute;
  bottom: 35px;
  left: 52px;
  z-index: 35;
  li{
    display: inline-block;
    width: 250px;
    color: white;
  }
}


.social-links {
  //margin-left: 50px;
  position: absolute;
  z-index: 9999;
  bottom: 20px;
  li {
    display: inline-block;
    border: 1px solid white;
    border-radius: 3px;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 20px;
    a {
      display: inline-block;
      width: 46px;
      height: 46px;
      transform: rotate(-45deg);
      margin-right: 28px;
      position: relative;
      .fb {
        background-image: url(../img/f_b.png);
        background-repeat: no-repeat;
        width: 10px;
        height: 27px;
        display: inline-block;
        z-index: 8888;
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .twiter{
        background-image: url(../img/svitr.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 22px;
        display: inline-block;
        z-index: 8888;
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .bench {
        background-image: url(../img/bench.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 22px;
        display: inline-block;
        z-index: 8888;
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .boll {
        background-image: url(../img/boll.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 22px;
        display: inline-block;
        z-index: 8888;
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .pin {
        background-image: url(../img/pin.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 22px;
        display: inline-block;
        z-index: 8888;
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}


@include respond-to(tablet) {
  .grdien_1{
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .social-links {
    padding-left: 30px;
  }
  .main-contact {
    -webkit-background-size: cover;
    background-size: cover;
    width: 49%;
    display: table-cell;
  }
  .main-content {
    width: 51%;
    display: table-cell;
  }
}
//это планшет
@include respond-to(from-desktop) {
  .grdien_1{
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .social-links {
    padding-left: 30px;
     }
  .main-contact {
    -webkit-background-size: cover;
    background-size: cover;
    width: 49%;
    display: table-cell;
  }
  .main-content {
    width: 51%;
    display: table-cell;
  }
}
//это монитор
@include respond-to(mobile) {
  .grdien_1{
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .social-links {
    padding-left: 30px;
      }
  .main-contact {
    -webkit-background-size: cover;
    background-size: cover;
    width: 49%;
    display: table-cell;
  }
  .main-content {
    width: 51%;
    display: table-cell;
  }
}
//это моибла