.main {
  padding: 0;
  text-align: left;
  position: relative;
}
.main-container {
  content: "";
  text-align: left;
  padding-left: 6%;
}

  .grdien_1 {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0, 1) 100%);
    height: 316px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }


.main-content {
  width: 51%;
  background-color: #272b31;
  padding-top: 151px;
  background-size: cover;
  display: table-cell;
}

.main-contact {
  //width: 49%;
  background-image: url('../img/chel.png');
  background-size: cover;
  //height: 100%;
  display: table-cell;

}

h1 {
  color: #f8f8f8;
  font-size: 4.28em;
  font-weight: 700;
  line-height: 1.316em;
  text-transform: uppercase;
}

h2 {
  color: #68c3a3;
  font-size: 2em;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.main-description {
  color: #f7f7f7;
  padding-top: 34px;
  padding-bottom: 59px;
}

.main-sign {
  padding-right: 237px;
  padding-bottom: 45px;
}


.contact_1 {
  color: white;
  font-weight: 400;
  line-height: 33px;
}

.send {
  margin-bottom: 20%;
  position: relative;
  width: 200px;
  line-height: 57px;
  background-color: #52b3d9;
  border-radius: 5px;
  color: white;
   font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 23px;
  padding-left: 50px;
  display: inline-block;
  box-sizing: border-box;
  &:after{
    content: '';
    background-image: url(../img/send.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 15px;
    bottom: 18px;
    right: 7px;
  }
}


.download {
  margin-bottom: 5.24%;
  position: relative;
  width: 200px;
  //height: 57px;
  background-color: #68c3a3;
  border-radius: 5px;
  color: #f3f3f3;
  font-size: 14px;
  font-weight: 700;
  line-height: 57px;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 50px;
  box-sizing: border-box;
  &:after{
    content: '';
    position: absolute;
    background-image: url(../img/download.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    width: 18px;
    height: 16px;
    top: 20px;
    left: 15px;
    bottom: 18px;
    right: 7px;
  }
}

.contact_1 {
  width: 515px;
  display: block;
  margin: 0 auto;
  li{
    display: inline-block;
    width: 250px;
    color: red;
  }
}


.social-links {
  width: 515px;
  display: block;
  margin: 0 auto;
  li {
    display: inline-block;
    a {
      display: inline-block;
      border: 1px solid red;
      border-radius: 3px;
      transform: rotate(45deg);
      width: 40px;
      height: 40px;
      margin-right: 28px;
      .fb {
        background-image: url(../img/f_b.png);
        width: 9px;
        height: 18px;
        display: inline-block;
      }
      .twiter{
        
      }
    }
  }
}