//tablet-portrait

.resume-content {
  padding-top: 3.76%;
  .resume-subtitle:nth-of-type(2){
    padding-top:56px;
    padding-bottom:32px;
  };
}

.resume-subtitle {
  padding-bottom: 17px;
  &:before {

  }
}

.resume__steps .resume__steps__item:first-of-type,
.resume__steps .resume__steps__item:last-of-type {
  .item_wrap {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width:10px;
      height:10px;
      background-color: $titleline;
      transform: rotate(45deg);
      left:calc(50% - 4px);
      z-index: 1;
      @include respond-to(mobile) {
        left:44.5px;
      };
    }
  }
}

.resume__steps .resume__steps__item:first-of-type {
  .item_wrap::before {
    top:0;
  }
}

.resume__steps .resume__steps__item {
  @include respond-to(mobile) {
    padding-bottom: 10px;
  };
}

.resume__steps .resume__steps__item:last-of-type {
  @include respond-to(mobile) {
    padding-bottom: 0px;
  };
  .item_wrap::before {
    bottom:0;
  }
}

.resume__steps {
  .resume__steps__item {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      top:0;
      left: calc(50% - 1.5px);
      background-color: $titleline;
      width:3px;
      @include respond-to(mobile) {
        left:48px;
      };
    };
  };
}

.resume__steps__item__data {
  float: right;
  margin-right: 50%;
  transform: translateX(50%);
  color: $secondcolor;
  margin-top:33px;
  vertical-align: top;
  background-color: $white;
  padding:3px 0;
  font-size:1.2857em;
  line-height: 2em;
  @include respond-to(mobile) {
    margin-right: 0;
    transform: translateX(0);
    float: left;
  };
}

.resume__steps__item__description {
  float: left;
  padding: 2.56% 2.307% 2.99% 2.735%;
  border: 1px solid $thirdcolor;
  border-bottom:double $thirdcolor;
  width:calc(37% - 6px);
  position: relative;
  text-align: left;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 1px solid $thirdcolor;
    border-right: double $thirdcolor;
    transform: rotate(45deg);
    top:45px;
    right:-7px;
    background-color: $white;
    @include respond-to(mobile) {
      border-top: 1px solid transparent;
      border-right: double transparent;
      border-bottom: double $thirdcolor;
      border-left: 1px solid $thirdcolor;
      left: -7px;
    };
  };
  @include respond-to(tablet-and-mobile) {
    width:calc(32% - 6px);
  };
  @include respond-to(mobile) {
    float: right;
    width:70%;
  };
  @include respond-to(x-mobile) {
    width:60%;
  };
}

.even {
  .resume__steps__item__data {
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-right: 0;
    @include respond-to(mobile) {
      margin-left: 0;
      transform: translateX(0);
    };
  };
  .resume__steps__item__description {
    float: right;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      border-top: 1px solid transparent;
      border-right: double transparent;
      border-bottom: double $thirdcolor;
      border-left: 1px solid $thirdcolor;
      transform: rotate(45deg);
      top: 46px;
      left: -7px;
      background-color: $white;
    };
  };
}

.resume__steps__item__description-name {
  font-size: 1.4em;
}

.resume__steps__item__description-place {
  color: $secondcolor;
  padding:1em 0 2em;
}

.resume__steps__item__description-text {
  line-height: 2em;
}

//resume hover styles
.resume__steps__item:hover {
  &::before {
    background-color: $maincolor;
    transition: $transition;
  };
  .resume__steps__item__description {
    background-color: $maincolor;
    color: $white;
    border-color: $borderhover;
    transition: $transition;
    &::before {
      background-color: $maincolor;
      border-color: $borderhover;
      transition: $transition;
      @include respond-to(mobile) {
        border-top: 1px solid transparent;
        border-right: double transparent;
        transition: $transition;
      };
    };
    .resume__steps__item__description-place {
      color: $white;
      transition: $transition;
    }
  };
  .resume__steps__item__data {
    color: $maincolor;
    transition: $transition;
  }
}

.resume__steps__item.even:hover {
  .resume__steps__item__description:before {
    transition: $transition;
    border-top: 1px solid transparent;
    border-right: double transparent;
  }
}

.resume__steps .resume__steps__item:first-of-type,
.resume__steps .resume__steps__item:last-of-type {
  &:hover {
    .item_wrap::before {
      background-color: $maincolor;
      transition: $transition;
    }
  }
}