.skills-wrapper {
  width: 100%;
  background-color: #1a1e23;
  padding-bottom: 110px;
}

.skills {
  width: 1160px;
  margin: 0 auto;
  @include respond-to(tablet) {
    width: 768px;
  }
  @include respond-to(mobile) {
    width: 320px;
  }
}

.skills__title {
  color: $white;
  font-size: 50px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 111px;
  @include respond-to(mobile) {
    padding-bottom: 20px;
  }
  &:before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    bottom: 0;
  }
  &:after {
    position: absolute;
    display: block;
    content: "";
    right: 0;
    bottom: 0;
  }
}

.new-tab-link {
  padding-right: 14px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggXDSIzCeRHfQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAA9SURBVBjTY2RAA/+XMvxHF2NkwAOwacCq4P9Shv8suFQzRiNsYUEXwKoJ2VhkNrIaJgYiAAs2N2BVRMirAD6JHi10MCdVAAAAAElFTkSuQmCC) no-repeat right center;
}

.page-title {
  font: 400 40px/1.5 Open Sans, sans-serif;
  text-align: center;
}

.about-skills {
    margin: 0 auto;
  @include respond-to(tablet) {
    max-width: 550px;
  }
  @include respond-to(mobile) {
    padding: 0 10px;
  }
}

.about-skills__circle-wrap {
  display: inline-block;
  margin-left: 60px;
  position: relative;
  width: 140px;
  height: 190px;
  &:first-of-type {
    margin-left: 0;
  }
  @include respond-to(tablet) {
    &:nth-child(3n + 4) {
      margin-left: 0;
    }
  }
  @include respond-to(mobile) {
    margin-left: 0;
    &:nth-child(even) {
      margin-left: 15px;
    }
  }
}

.about-skills__circle {
position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  .circle-empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
  }
  .circle-colored {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    z-index: 1;
  }
}

.psevdo-number {
  position: absolute;
  top: 63px;
  color: #f7f7f7;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.about-skills__title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 46px;
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.psevdo-number__data {
  display: inline-block;
  vertical-align: top;
}

.skills__sub-title {
  color: #f1f1f1;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 62px 0 45px 0;
}

.skills__title__i {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.title-svg {
  margin-bottom: 40px;
  &.active {
    #title-svg-icon {
      stroke: white;
      stroke-width: 1;
      stroke-dasharray: 90px;
      stroke-dashoffset: 90px;
      animation-name: draw;
      animation-duration: 5s;
      animation-fill-mode: forwards; // Stay on the last frame
      animation-iteration-count: 1; // Run only once
      animation-timing-function: linear;
    }
  }
  &.active_black {
    #title-svg-icon {
      stroke: #1a1e23;
      stroke-width: 1;
      stroke-dasharray: 90px;
      stroke-dashoffset: 90px;
      animation-name: draw;
      animation-duration: 5s;
      animation-fill-mode: forwards; // Stay on the last frame
      animation-iteration-count: 1; // Run only once
      animation-timing-function: linear;
    }
  }
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.range-skills {
  @include respond-to(tablet) {
    width: 535px;
    margin: 0 auto;
  }
  @include respond-to(mobile) {
    width: 100%;
  }
}

.range-skills__item {
  width: 533px;
  float: left;
  margin-left: 60px;
  margin-bottom: 40px;
  &:nth-child(odd) {
    margin-left: 0;
  }
  @include respond-to(tablet) {
    width: 100%;
    margin-left: 0;
    float: none;
  }
  @include respond-to(mobile) {
    width: 100%;
    margin-left: 0;
    float: none;
  }
}

.range-skills__title {
  width: 131px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
}

.range-skills__number {
  display: inline-block;
  width: 397px;
  height: 10px;
  background-color: #3a4149;
  vertical-align: top;
  margin-top: 8px;
  position: relative;
  span {
    position: absolute;
    top: -33px;
    left: 0;
    width:0;
    transition: all 2s linear;
    display: block;
    color: #f1f1f1;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    text-align: right;
  }
  .range-skills__percent {
    left: 15px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    background-color: #41b7d4;
    z-index: 1;
    transition: all 2s linear;
  }
  &.active {

  }
}

.range-skills__item:first-of-type {
  .range-skills__number.active {

    &:before {
      width: 95%;
    }
    span {
      width: 95%;
    }
  }

}

.range-skills__item:nth-child(2) {
  .range-skills__number.active {

    &:before {
      width: 50%;
    }
    span {
      width: 50%;
    }

  }
}

.range-skills__item:nth-child(3) {
  .range-skills__number.active {

    &:before {
      width: 40%;
    }
    span {
      width: 40%;
    }

  }
}

.range-skills__item:nth-child(4) {
  .range-skills__number.active {

    &:before {
      width: 60%;
    }
    span {
      width: 60%;
    }

  }
}

.range-skills__item:nth-child(5) {
  .range-skills__number.active {

    &:before {
      width: 75%;
    }
    span {
      width: 75%;
    }

  }
}

.range-skills__item:nth-child(6) {
  .range-skills__number.active {

    &:before {
      width: 85%;
    }
    span {
      width: 85%;
    }

  }
}