$white: #ffffff;
$whitetitle: #f0f0f0;
$textcolor: #282828;
$maincolor: #68c3a3;
$secondcolor: #2c3e50;
$thirdcolor: #eeeeee;
$fourthcolor: #282828;
$fifthcolor: #afafaf;
$aditioncolor: #68c3a3;
$titleline: #e1e1e1;