$white: #ffffff;
$whitetitle: #f0f0f0;
$textcolor: #282828;
$maincolor: #68c3a3;
$secondcolor: #2c3e50;
$thirdcolor: #eeeeee;
$fourthcolor: #282828;
$fifthcolor: #afafaf;
$aditioncolor: #68c3a3;
$titleline: #e1e1e1;
$borderhover: #57b393;
$buttonshadow: #53b08f;
$formbg:  #f7f7f7;
$transition: all 0.3s ease-in-out;
$fs: 14px;

@mixin fs {
  font-size: $fs;
  @include respond-to(tablet-and-mobile) {
    font-size: 13px;
  };
  @include respond-to(mobile) {
    font-size: 12px;
  };
}

@mixin top_padding {
  padding: 6.47% 0;
  @include respond-to(tablet-and-mobile) {
    padding: 10.47% 0;
  };
  @include respond-to(mobile) {
    padding: 14.47% 0;
  };
}

@mixin sub_padding {
  padding-top: 3.76%;
  @include respond-to(tablet-and-mobile) {
    padding-top: 5.76%;
  };
  @include respond-to(mobile) {
    padding-top: 7.76%;
  };
}
